{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  <div class="flashes">
  {% for tag, message in messages %}
    <div class="alert alert-{{ tag or 'info' }}">{{ message }}</div>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}