<!DOCTYPE html>
<html>
<head>
  <title>village pdf</title>
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <style type="text/css">
  input[type="file"] { color: gainsboro }
  .table { font-size: 14px; }
  </style>
  {% block css %}{% endblock css %}
</head>
<body>

<div class="container">
  {% block content %}{% endblock content %}
</div>
</body>
</html>