{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Importador Entradas Village</h1>
      {% include "alerts.html" %}
      <div class="jumbotron">
        <form action="{{ url_for('preview') }}" method="post" enctype="multipart/form-data">
          <div class="form-group">Tipo: <select class="form-control" name="tipo" required>
            <option value="comun">Comun</option>
            <option value="3d">3D</option>
            <option value="monster">Monster</option>
          </select></div>
          <div class="form-group">
            Precio: <input type="number" min="0" class="form-control" name="precio" required></input>
          </div>
          <div class="form-group">
            Vencimiento: <input type="date" min="{{ hoy }}" value="{{ hoy }}" class="form-control" name="vencimiento" required></input>
          </div>
          <div class="form-group">
            Archivo PDF de Village Cines: <input type="file" name="doc" required><br>
          </div>
          {% for k,v in request.args.items() %}
            <input type="hidden" name="__{{k}}" value="{{v}}"></input>
          {% endfor %}
          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Subir" style="width: 100%;" name="submit">
          </div>  
        </form>
      </div>
    </div>
  </div>
  <script>
  $(function() {
    $('select[name=tipo]').change(function(e) {
      var $precio = $('input[name=precio]')
      var tipo = e.target.value;
      switch(tipo) {
        case 'comun':
          $precio.val("{{precios['comun']}}"); break
        case '3d':
          $precio.val("{{precios['3d']}}"); break
        case 'monster':
          $precio.val("{{precios['monster']}}"); break
      }
    }).trigger('change')
  })
  </script>
{% endblock content %}