{% extends "base.html" %}

{% block css %}
  <style type="text/css">
    .preview {
      height: 400px;
      overflow-y: auto;
      font-family: monospace;
    }
  </style>
{% endblock css %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>¿los datos son correctos?</h1>
      {% include "alerts.html" %}
      <div class="preview">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>codigo</th>
              <th>tipo</th> 
              <th>precio</th>
              <th>vencimiento</th>
            </tr>
          </thead>
          <tbody>
          {% for codigo in codigos %}
            <tr>
              <td>{{codigo}}</td>
              <td>{{form.tipo}}</td>
              <td>${{form.precio}}</td>
              <td>{{form.vencimiento}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><br>
      <p><strong>total: {{ codigos|length }}</strong></p>
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group text-center">
          {% for k,v in form.items() %}
            <input type="hidden" name="{{k}}" value="{{v}}"></input>
          {% endfor %}
          <input type="hidden" name="path" value="{{ path }}"></input>
          <input type="submit" class="btn btn-danger" value="Confirmar" style="width: 100%;" name="submit">
        </div>  
      </form>
    </div>
  </div>
{% endblock content %}